<script setup lang="ts">
import { ref } from 'vue'
import axios from '@/service/axios'

const cus = ref({
  Age: 0.0,
  Gender: 0.0,
  Tenure: 0.0,
  Usage_Frequency: 0.0,
  Support_Calls: 0.0,
  Payment_Delay: 0.0,
  Subscription_Type: 0.0,
  Contract_Length: 0.0,
  Total_Spend: 0.0,
  Last_Interaction: 0.0
})
const result = ref<{ prediction: any }>({ prediction: '' })
async function submit(item: any) {
  try {
    const res = await axios.PredicCustomer(item)
    result.value = res.data
    console.log(result.value)
  } catch (e) {
    console.log(e)
  }
}
</script>

<template>
  <v-app-bar color="green-lighten-2"><h1 class="mx-auto">คาดการณ์การใช้งานของลูกค้า</h1></v-app-bar>
  <v-main class="mx-auto">
    <!-- <v-app-bar color="green-lighten-2" class="d-flex align-center justify-center"
      ><h1 class="mx-auto">Predict Customer's Retention</h1></v-app-bar -->

    <v-card class="pa-6 align-content-lg-centeralign-center justify-center align-items-center">
      <v-container fluid>
        <v-row>
          <v-col>
            <h1 style="text-align: center; color: #1b5e20"></h1>
          </v-col>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto">
            <h3 style="margin-top: 5px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Age"
              v-model="cus.Age"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto">
            <h3 style="margin-top: 10px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Gender"
              v-model="cus.Gender"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto" max-width="344">
            <h3 style="margin-top: 10px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Tenure"
              v-model="cus.Tenure"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto" max-width="344">
            <h3 style="margin-top: 10px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Usage Frequency"
              v-model="cus.Usage_Frequency"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto" max-width="344">
            <h3 style="margin-top: 10px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Support Calls"
              v-model="cus.Support_Calls"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto">
            <h3 style="margin-top: 5px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Payment Delay"
              v-model="cus.Payment_Delay"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto">
            <h3 style="margin-top: 5px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Subscription Type"
              v-model="cus.Subscription_Type"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto">
            <h3 style="margin-top: 5px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Contract Length"
              v-model="cus.Contract_Length"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto">
            <h3 style="margin-top: 5px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Total Spend"
              v-model="cus.Total_Spend"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto">
            <h3 style="margin-top: 5px"></h3>
            <v-text-field
              style="margin-top: 5px"
              hide-details="auto"
              label="Last Interaction"
              v-model="cus.Last_Interaction"
            ></v-text-field>
          </v-responsive>
        </v-row>
        <v-row style="margin-top: 30px">
          <v-responsive class="mx-auto" max-width="240">
            <v-btn
              style="font-size: 120%"
              height="52px"
              width="221px"
              color="green-darken-1"
              @Click="submit(cus)"
            >
              PREDICTION
            </v-btn>
          </v-responsive>
        </v-row>
        <v-row>
          <v-responsive class="mx-auto" max-width="300">
            <v-card color="" class="mx-auto my-8" width="300">
              <h2>Answer</h2>
              <h2 style="margin-top: 3%">{{ result.prediction }}</h2>
            </v-card>
          </v-responsive>
        </v-row>
      </v-container></v-card
    >
  </v-main>
</template>

<style>
/* Adjusting the width and height of the components */
.v-main {
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.v-card {
  width: 100%; /* Set the width to 100% of its container */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
  height: 100%; /* Set the height to 100% of its container */
}

/* Optionally, you might want to center the card horizontally and vertically */
.v-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optionally, you might want to remove margin and padding from the body and html */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
</style>
